<div class="center hero-unit hero-main"> 
  <h1>Welcome to BookFace!</h1>
  <div class="rounded-corners">
  	<%= image_tag("BookFace1.jpg", alt:"BookFace", height: 400, width: 400, style: "border-radius: 20px") %>
  </div>
  <h2>
    Bookface is a social networking site for book characters from all 
    corners of Apocrypha. Come wizards, come warriors, come detectives, come witches.
    Come heroes, come pirates, come nobodies, come snitches.  Come in, come in for we 
    have fine tales to spin.
  </h2>

   <%= link_to "Sign Up!", signup_path, class: "btn btn-large btn-primary"%>
</div>
