<div class="center hero-unit"> 
  <h1>Welcome to BookFace!</h1>

  <h2>
    Bookface is the premier social networking site for book characters from all 
    corners of Apocrypha. Come wizards, come warriors, come detectives, come witches.
    Come heroes, come pirates, come nobodies, come snitches.  Come in, come in for we 
    have fine tales to spin.
  </h2>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>