<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Book Face", root_path, id: "logo" %>
      <nav>
        <table class="nav pull-right">
        </table>

      </nav>

    </div>

  </div>

</header>