<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "BookFace", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Log In", login_path, id: "header_login" %></li>
        </ul>
      </nav>

    </div>

  </div>

</header>